.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #80b9f1; 
}

span{
  font-size: 29px;
  text-align: center;
}
.container{
  font-family: "Lato", sans-serif;
  padding: 20px;
}

.wordSearch {
  display: flex;
  flex-direction: row;
}

.wordAudio{
  padding-left: 20px;
}
.word-find{
  font-size: 19px;
}
.mt-20 {
  margin-top: 20px;
}

.word {
  padding: 20px;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline: none;
  height: 25px;
  font-size: 20px;
}

.button {
  background-color: rgb(99, 111, 241);
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 3px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin-left: 20px;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.button:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

.card {
  color: "white";
  border-radius: 30px;
  background: #80b9f1; 
}

.audio {
  cursor: pointer;
  border-radius: 200px;
  border: 1px solid black;
  width: 100px;
  text-align: center;
  height: 22px;
  padding: 1px;
  
}

.audio:hover {
  background-color: #e046c9;
  color: white;
  border: none;
}
